- if defined? extra_functions_test
  - localvar_extra_functions_test = extra_functions_test
- else
  - localvar_extra_functions_test = 'null'
-#=============================
- if defined? extra_functions_control
  - localvar_extra_functions_control = extra_functions_control
- else
  - localvar_extra_functions_control = 'null'
-#=============================
- if defined? experiment_environment
  - localvar_experiment_environment = experiment_environment
- else
  - localvar_experiment_environment = 'production'
-#=============================
- if defined? enable_experiment_logs
  - localvar_enable_experiment_logs = enable_experiment_logs
- else
  - localvar_enable_experiment_logs = 'false'
-#=============================
- if defined? experiment_cookie_duration
  - localvar_experiment_cookie_duration = experiment_cookie_duration
- else
  - localvar_experiment_cookie_duration = '1209600'
-#=============================
- if defined? disable_experiment
  - localvar_disable_experiment = disable_experiment
- else
  - localvar_disable_experiment = 'null'
-#=============================
- if defined? extra_functions_start_time
  - localvar_extra_functions_start_time = extra_functions_start_time
- else
  - localvar_extra_functions_start_time = '350'
-#=============================
- if defined? show_all_variants
  - localvar_show_all_variants = show_all_variants
- else
  - localvar_show_all_variants = 'false'
-#=============================
-# The above variables are optional.
-#=============================
-# The below variables are required for this to work.
-# Please define them as locals when calling this partial file.
-#=============================
- if defined? experiment_id
  - localvar_experiment_id = experiment_id
- else
  - localvar_experiment_id = 'null'
-#=============================
- if defined? experiment_flag
  - localvar_experiment_flag = experiment_flag
- else
  - localvar_experiment_flag = 'null'
-#=============================
%link{rel: "stylesheet", href: "/stylesheets/experiments.css"}
<script crossorigin="anonymous" src="https://unpkg.com/launchdarkly-js-client-sdk@2"></script>

%script{ "src": "/javascripts/run-experiment.js", "type": "text/javascript"}
%script{type: "text/javascript"}
  :plain
    runExperiment('#{localvar_experiment_id}', '#{localvar_experiment_flag}', #{localvar_extra_functions_control}, #{localvar_extra_functions_test}, '#{localvar_experiment_environment}', #{localvar_enable_experiment_logs}, #{localvar_experiment_cookie_duration}, '#{localvar_disable_experiment}', '#{localvar_extra_functions_start_time}', '#{localvar_show_all_variants}');
%div.experiment-outer-wrapper{id: "experiment#{localvar_experiment_id}"}
  %span.loading-experiment 
  = partial "/experiments/#{localvar_experiment_id}-control"
  - unless localvar_disable_experiment == 'true'
    = partial "/experiments/#{localvar_experiment_id}-test"
